absl-py==0.3.0
appdirs==1.4.3
args==0.1.0
astor==0.7.1
backports.weakref==1.0.post1
cement==2.10.12
clint==0.5.1
contextlib2==0.5.5
Cython==0.28.4
dask==0.18.2
decorator==4.3.0
enum34==1.1.6
funcparserlib==0.3.6
funcsigs==1.0.2
gast==0.2.0
graphviz==0.8.4
grpcio==1.13.0
hy==0.15.0
Markdown==2.6.11
mock==2.0.0
networkx==2.1
numpy==1.14.5
pbr==4.2.0
protobuf==3.6.0
pyfiglet==0.7.5
pssh==2.3.1
pyasn1==0.4.4
pyro-ppl==0.2.1
rply==0.7.6
rsa==3.4.2
scipy==1.1.0
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
torch==0.4.0
Werkzeug==0.14.1
